@import "tailwindcss";

@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;
    
    --primary: #2563eb;
    --primary-foreground: #f8fafc;
    
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    
    --success: #16a34a;
    --success-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #2563eb;
    
    --radius: 12px;
  }

  .dark {
    --background: #020817;
    --foreground: #f8fafc;
    
    --primary: #3b82f6;
    --primary-foreground: #0f172a;
    
    --destructive: #7f1d1d; 
    --destructive-foreground: #f8fafc;
    
    --success: #22c55e;
    --success-foreground: #052e16;
    
    --border: #1e293b;
    --input: #1e293b;
    --ring: #1d4ed8;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}